.vaccine-list-item {
  display: flex;
  overflow: hidden;
}

.vaccine-list-item-node {
  position: relative;
  margin: 0 30px;
  width: 5px;
  min-height: 100%;

  &.fade {
    height: 30px;
    background-color: transparent;
  }

  .vaccine-list-item-circle {
    position: absolute;
    top: 25px;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.vaccine-list-item-info {
  padding: 20px 0;
}

.fade {
  &.red-to-yellow {
    background-image: linear-gradient(#DB4437, #F4B400);
  }
  &.yellow-to-green {
    background-image: linear-gradient(#F4B400, #0F9D58);
  }
}

.green {
  background-color: #0F9D58;
}

.red {
  background-color: #DB4437;
}

.yellow {
  background-color: #F4B400;
}